  
{{>header}}
<div class="container">
  <section id="hero" class="wow fadeIn" style="align-content: center">
    <div class="hero-container">
      <h1>Sistema de Educación Continua</h1>
      <img src="img/hero-img.png" alt="Hero Imgs"><br>
      <a href="/vercursos" class="btn-get-started scrollto">Ver cursos</a>&ensp;&ensp;
      <a href="/iniciosesion" class="btn-get-started scrollto">Iniciar sesion</a><br>
      <p>¿No tienes cuenta?<a href="/registrarse" class="btn-get-started scrollto">Registrarse</a>
      </p>
    </div>
  </section>	
</div>
  {{>footer}}
  