  
{{>header}}
<div class="container">
  <h2>Bienvenido al sistema de Educación Continua</h2>
  <br>
  <p>Ingrese sus datos en el siguiente formulario</p>
  <form action="/registrarse" method="post">
    <div class="form-group col-md-8">
      <div class="row">
        <div class="col">
      <label >Usuario</label>
      <input type="text"  class="form-control"  name="usuario" placeholder="Nombre de usuario" required><br>   
      </div>
      <div class="col">
      <label >Contraseña</label>
      <input type="text"  class="form-control"  name="password" placeholder="Contraseña" required><br>       
      </div>
      </div>
      <div class="row">
        <div class="col">
      <label >Nombre</label>
      <input type="text"  class="form-control"  name="nombre" placeholder="Nombre completo" required><br>   
      </div>
        <div class="col">
         <label >Documento de identidad</label>
        <input type="text"  class="form-control"  name="documento" placeholder="Documento de identidad" required><br>
        </div>
         </div>
      <div class="row">
        <div class="col">
        <label >Correo electronico</label>
        <input type="text"  class="form-control"  name="correo" placeholder="Correo electronico" required><br>   
        </div>
        <div class="col">
        <label>Telefono</label>
        <input type="text"  class="form-control"  name="telefono" placeholder="Telefono" required><br>      
        </div>
       </div>
     <br>
     <button class="btn btn-primary my-2 my-sm-0">Crear cuenta</button>
   </div>
 </form>	
</div>
  {{>footer}}
  